%table.kcerror
  %tbody
    %tr
      %th= I18n.t('kinetic_cafe_error.table.header.status')
      %td= error.status
    %tr
      %th= I18n.t('kinetic_cafe_error.table.header.code')
      %td= error.code
