<table class='kcerror'>
  <tbody>
    <tr>
      <th><%= I18n.t('kinetic_cafe_error.table.header.status') %></th>
      <td><%= error.status %></td>
    </tr>
    <tr>
      <th><%= I18n.t('kinetic_cafe_error.table.header.code') %></th>
      <td><%= error.code %></td>
    </tr>
  </tbody>
</table>
