<h2><%= I18n.t('kinetic_cafe_error.page.title') %></h2>

<% unless error.header_only? || error.internal? -%>
  <blockquote><%= error.i18n_message %></blockquote>
<% end -%>

<%= I18n.t('kinetic_cafe_error.page.body_html') %>

<%= render partial: 'kinetic_cafe_error/table', locals: { error: error } %>
